@charset "utf-8";

/* CSS Document */

* {
	
	margin: 0;
	padding: 0
}

a {
	text-decoration: none;
}

body {
	background: rgba(79, 164, 255, 1);
	margin: 0 auto;
}


/*手机模式下*/

html {
	/*font-family: "宋体";*/
	font-size: 20px;
}

#bgtop {
	width: 100%;
	height: 2rem;
}

#bgtop img {
	width: 6rem;
	display: block;
	margin: 0 auto;
	height: 100%;
}

#main {
	display: block;
	width: 15rem;
	height: 4.66rem;
	background: url(../img/bjdl1.png);
	margin: 0 auto;
	background-size: cover;
	font-size: 0.8rem;
	font-weight: bold;
}

#main .input {
	width: 11rem;
	height: 2.325rem;
	float: right;
	line-height: 2.325rem;
	position: relative;
}

#main .input>input {
	width: 8.5rem;
	top: 0;
	position: absolute;
	outline: none;
	font-size: 0.7rem;
	font-weight: bold;
	height: 2.325rem;
	line-height: 2.325rem;
	border: 0;
	right: 0;
	background: 0;
}

.Dl {
	width: 15rem;
	height: 2rem;
	margin: 0 auto;
	background: url(../img/anhe.png);
	margin-top: 1.8rem;
}

#Dl {
	width: 100%;
	height: 100%;
	margin: 0 auto;
	font-size: 1rem;
	font-weight: bold;
	color: white;
	border: 0;
	background: 0;
}

#zuce {
	width: 15rem;
	height: 0.8rem;
	margin: 0 auto;
	margin-top: 1rem;
	margin-bottom: 1.5rem;
}

#zuce p {
	font-size: 0.75rem;
	display: inline;
	float: left;
}

#zuce p a {
	color: white;
}

#zuce .you {
	float: right;
}

#fenxiang {
	width: 13rem;
	height: 4.66rem;
	margin: 0 auto;
}

#fenxiang div {
	width: 4rem;
	display: inline;
	float: left;
	text-align: center;
}
#fenxiang .weixin{
	margin: 0 0.5rem;
}

#fenxiang div p {
	font-size: 0.7rem;
	color: white;
}

#fenxiang img {
	width: 3rem;
	height: 3rem;
	background-size: cover;
}

#fenxiang .qq {
	float: right;
}